{
    "schemes": [
        "https",
        "http"
    ],
    "swagger": "2.0",
    "info": {
        "description": "An API for Sijudul App using Gin",
        "title": "Sijudul API",
        "contact": {},
        "version": "1.0"
    },
    "host": "projectskripsi-fvwdncsc.b4a.run",
    "basePath": "/",
    "paths": {
        "/admin": {
            "post": {
                "description": "Create Admins",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin"
                ],
                "summary": "Create Admin",
                "parameters": [
                    {
                        "type": "string",
                        "description": "example : Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTc2MDk3NDQsImlzcyI6IkJTRC1MSU5LIn0.DGqDz0YWO3RiqWUFOywVYkSOyImc3fDRtX9SvGpkINs",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Raw Request Body",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.AdminCreateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Admin"
                        }
                    }
                }
            }
        },
        "/admin/": {
            "get": {
                "description": "Get All Admins",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin"
                ],
                "summary": "Get All Admin",
                "parameters": [
                    {
                        "type": "string",
                        "description": "example : Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTc2MDk3NDQsImlzcyI6IkJTRC1MSU5LIn0.DGqDz0YWO3RiqWUFOywVYkSOyImc3fDRtX9SvGpkINs",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "name",
                        "name": "name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "email",
                        "name": "email",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.AdminDataResponse"
                            }
                        }
                    }
                }
            }
        },
        "/admin/{id}": {
            "get": {
                "description": "Get Admin By ID",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin"
                ],
                "summary": "Get Admin By ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "example : Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTc2MDk3NDQsImlzcyI6IkJTRC1MSU5LIn0.DGqDz0YWO3RiqWUFOywVYkSOyImc3fDRtX9SvGpkINs",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Admin ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.AdminDataResponse"
                        }
                    }
                }
            },
            "put": {
                "description": "Update Admins",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin"
                ],
                "summary": "Update Admin",
                "parameters": [
                    {
                        "type": "string",
                        "description": "example : Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTc2MDk3NDQsImlzcyI6IkJTRC1MSU5LIn0.DGqDz0YWO3RiqWUFOywVYkSOyImc3fDRtX9SvGpkINs",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Raw Request Body",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.AdminUpdateRequest"
                        }
                    },
                    {
                        "type": "integer",
                        "description": "Admin ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Admin"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete Admins",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin"
                ],
                "summary": "Delete Admin",
                "parameters": [
                    {
                        "type": "string",
                        "description": "example : Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTc2MDk3NDQsImlzcyI6IkJTRC1MSU5LIn0.DGqDz0YWO3RiqWUFOywVYkSOyImc3fDRtX9SvGpkINs",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Admin ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/auth/admin/login": {
            "post": {
                "description": "Admin Login",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Auth"
                ],
                "summary": "Admin Login",
                "parameters": [
                    {
                        "description": "Raw Request Body",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.AdminLoginRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/auth/dosen/login": {
            "post": {
                "description": "Dosen Login",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Auth"
                ],
                "summary": "Dosen Login",
                "parameters": [
                    {
                        "description": "Raw Request Body",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.DosenLoginRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/auth/mahasiswa/login": {
            "post": {
                "description": "Mahasiswa Login",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Auth"
                ],
                "summary": "Mahasiswa Login",
                "parameters": [
                    {
                        "description": "Raw Request Body",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.MahasiswaLoginRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/dosen": {
            "post": {
                "description": "Create Dosen",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Dosen"
                ],
                "summary": "Create Dosen",
                "parameters": [
                    {
                        "type": "string",
                        "description": "example : Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTc2MDk3NDQsImlzcyI6IkJTRC1MSU5LIn0.DGqDz0YWO3RiqWUFOywVYkSOyImc3fDRtX9SvGpkINs",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Raw Request Body",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.DosenCreateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Dosen"
                        }
                    }
                }
            }
        },
        "/dosen/": {
            "get": {
                "description": "Get All Dosens",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Dosen"
                ],
                "summary": "Get All Dosen",
                "parameters": [
                    {
                        "type": "string",
                        "description": "example : Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTc2MDk3NDQsImlzcyI6IkJTRC1MSU5LIn0.DGqDz0YWO3RiqWUFOywVYkSOyImc3fDRtX9SvGpkINs",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "name",
                        "name": "name",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.DosenDataResponse"
                            }
                        }
                    }
                }
            }
        },
        "/dosen/mahasiswa-bimbingan/{id}": {
            "get": {
                "description": "Get All Mahasiswa Bimbingan",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Dosen"
                ],
                "summary": "Get All Mahasiswa Bimbingan",
                "parameters": [
                    {
                        "type": "string",
                        "description": "example : Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTc2MDk3NDQsImlzcyI6IkJTRC1MSU5LIn0.DGqDz0YWO3RiqWUFOywVYkSOyImc3fDRtX9SvGpkINs",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Dosen ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.DosenMahasiswaBimbinganResponse"
                        }
                    }
                }
            }
        },
        "/dosen/{id}": {
            "get": {
                "description": "Get Dosen By ID",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Dosen"
                ],
                "summary": "Get Dosen By ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "example : Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTc2MDk3NDQsImlzcyI6IkJTRC1MSU5LIn0.DGqDz0YWO3RiqWUFOywVYkSOyImc3fDRtX9SvGpkINs",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Dosen ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.DosenDataResponse"
                        }
                    }
                }
            },
            "put": {
                "description": "Update Dosen",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Dosen"
                ],
                "summary": "Update Dosen",
                "parameters": [
                    {
                        "type": "string",
                        "description": "example : Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTc2MDk3NDQsImlzcyI6IkJTRC1MSU5LIn0.DGqDz0YWO3RiqWUFOywVYkSOyImc3fDRtX9SvGpkINs",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Raw Request Body",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.DosenUpdateRequest"
                        }
                    },
                    {
                        "type": "integer",
                        "description": "Dosen ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Dosen"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete Dosen",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Dosen"
                ],
                "summary": "Delete Dosen",
                "parameters": [
                    {
                        "type": "string",
                        "description": "example : Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTc2MDk3NDQsImlzcyI6IkJTRC1MSU5LIn0.DGqDz0YWO3RiqWUFOywVYkSOyImc3fDRtX9SvGpkINs",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Dosen ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/mahasiswa": {
            "post": {
                "description": "Create Mahasiswa",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Mahasiswa"
                ],
                "summary": "Create Mahasiswa",
                "parameters": [
                    {
                        "type": "string",
                        "description": "example : Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTc2MDk3NDQsImlzcyI6IkJTRC1MSU5LIn0.DGqDz0YWO3RiqWUFOywVYkSOyImc3fDRtX9SvGpkINs",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Raw Request Body",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.MahasiswaCreateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Mahasiswa"
                        }
                    }
                }
            }
        },
        "/mahasiswa/": {
            "get": {
                "description": "Get All Mahasiswa",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Mahasiswa"
                ],
                "summary": "Get All Mahasiswa",
                "parameters": [
                    {
                        "type": "string",
                        "description": "example : Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTc2MDk3NDQsImlzcyI6IkJTRC1MSU5LIn0.DGqDz0YWO3RiqWUFOywVYkSOyImc3fDRtX9SvGpkINs",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "name",
                        "name": "name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "nim",
                        "name": "nim",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.MahasiswaDataResponse"
                            }
                        }
                    }
                }
            }
        },
        "/mahasiswa/{id}": {
            "get": {
                "description": "Get Mahasiswa By ID",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Mahasiswa"
                ],
                "summary": "Get Mahasiswa By ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "example : Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTc2MDk3NDQsImlzcyI6IkJTRC1MSU5LIn0.DGqDz0YWO3RiqWUFOywVYkSOyImc3fDRtX9SvGpkINs",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Mahasiswa ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.MahasiswaDataResponse"
                        }
                    }
                }
            },
            "put": {
                "description": "Update Mahasiswa",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Mahasiswa"
                ],
                "summary": "Update Mahasiswa",
                "parameters": [
                    {
                        "type": "string",
                        "description": "example : Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTc2MDk3NDQsImlzcyI6IkJTRC1MSU5LIn0.DGqDz0YWO3RiqWUFOywVYkSOyImc3fDRtX9SvGpkINs",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Raw Request Body",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.MahasiswaUpdateRequest"
                        }
                    },
                    {
                        "type": "integer",
                        "description": "Mahasiswa ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Mahasiswa"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete Mahasiswa",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Mahasiswa"
                ],
                "summary": "Delete Mahasiswa",
                "parameters": [
                    {
                        "type": "string",
                        "description": "example : Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTc2MDk3NDQsImlzcyI6IkJTRC1MSU5LIn0.DGqDz0YWO3RiqWUFOywVYkSOyImc3fDRtX9SvGpkINs",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Mahasiswa ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/notification": {
            "post": {
                "description": "Create Notifications",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Notification"
                ],
                "summary": "Create Notification",
                "parameters": [
                    {
                        "description": "Raw Request Body",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.MobileNotificationCreateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.MobileNotification"
                        }
                    }
                }
            }
        },
        "/notification/": {
            "get": {
                "description": "Get All Notification based on Id from auth",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Notification"
                ],
                "summary": "Get All Notification",
                "parameters": [
                    {
                        "type": "string",
                        "description": "example : Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTc2MDk3NDQsImlzcyI6IkJTRC1MSU5LIn0.DGqDz0YWO3RiqWUFOywVYkSOyImc3fDRtX9SvGpkINs",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.MobileNotification"
                            }
                        }
                    }
                }
            }
        },
        "/notification/{id}": {
            "get": {
                "description": "Get Notification By ID",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Notification"
                ],
                "summary": "Get Notification By ID",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Notification ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.MobileNotification"
                        }
                    }
                }
            }
        },
        "/pengajuan": {
            "post": {
                "description": "Create Pengajuan",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Pengajuan"
                ],
                "summary": "Create Pengajuan",
                "parameters": [
                    {
                        "type": "string",
                        "description": "example : Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTc2MDk3NDQsImlzcyI6IkJTRC1MSU5LIn0.DGqDz0YWO3RiqWUFOywVYkSOyImc3fDRtX9SvGpkINs",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Raw Request Body",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.PengajuanCreateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Pengajuan"
                        }
                    }
                }
            }
        },
        "/pengajuan/": {
            "get": {
                "description": "Get All Pengajuan",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Pengajuan"
                ],
                "summary": "Get All Pengajuan",
                "parameters": [
                    {
                        "type": "string",
                        "description": "example : Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTc2MDk3NDQsImlzcyI6IkJTRC1MSU5LIn0.DGqDz0YWO3RiqWUFOywVYkSOyImc3fDRtX9SvGpkINs",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "judul",
                        "name": "judul",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.Pengajuan"
                            }
                        }
                    }
                }
            }
        },
        "/pengajuan/dospem/{id}": {
            "get": {
                "description": "Get Pengajuan By Dospem ID",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Pengajuan"
                ],
                "summary": "Get Pengajuan By Dospem ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "example : Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTc2MDk3NDQsImlzcyI6IkJTRC1MSU5LIn0.DGqDz0YWO3RiqWUFOywVYkSOyImc3fDRtX9SvGpkINs",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Dospem ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Pengajuan"
                        }
                    }
                }
            }
        },
        "/pengajuan/mahasiswa/{id}": {
            "get": {
                "description": "Get Pengajuan By Mahasiswa ID",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Pengajuan"
                ],
                "summary": "Get Pengajuan By Mahasiswa ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "example : Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTc2MDk3NDQsImlzcyI6IkJTRC1MSU5LIn0.DGqDz0YWO3RiqWUFOywVYkSOyImc3fDRtX9SvGpkINs",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Mahasiswa ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Pengajuan"
                        }
                    }
                }
            }
        },
        "/pengajuan/similarity-test": {
            "post": {
                "description": "Similiarity Test Pengajuan",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Pengajuan"
                ],
                "summary": "Similiarity Test Pengajuan",
                "parameters": [
                    {
                        "type": "string",
                        "description": "example : Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTc2MDk3NDQsImlzcyI6IkJTRC1MSU5LIn0.DGqDz0YWO3RiqWUFOywVYkSOyImc3fDRtX9SvGpkINs",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Raw Request Body",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.SimilarityRequest"
                        }
                    },
                    {
                        "type": "string",
                        "description": "id",
                        "name": "id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/pengajuan/{id}": {
            "get": {
                "description": "Get Pengajuan By ID",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Pengajuan"
                ],
                "summary": "Get Pengajuan By ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "example : Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTc2MDk3NDQsImlzcyI6IkJTRC1MSU5LIn0.DGqDz0YWO3RiqWUFOywVYkSOyImc3fDRtX9SvGpkINs",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Pengajuan ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Pengajuan"
                        }
                    }
                }
            },
            "put": {
                "description": "Update Pengajuan",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Pengajuan"
                ],
                "summary": "Update Pengajuan",
                "parameters": [
                    {
                        "type": "string",
                        "description": "example : Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTc2MDk3NDQsImlzcyI6IkJTRC1MSU5LIn0.DGqDz0YWO3RiqWUFOywVYkSOyImc3fDRtX9SvGpkINs",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Raw Request Body",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.PengajuanUpdateRequest"
                        }
                    },
                    {
                        "type": "integer",
                        "description": "Pengajuan ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Pengajuan"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete Pengajuan",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Pengajuan"
                ],
                "summary": "Delete Pengajuan",
                "parameters": [
                    {
                        "type": "string",
                        "description": "example : Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2OTc2MDk3NDQsImlzcyI6IkJTRC1MSU5LIn0.DGqDz0YWO3RiqWUFOywVYkSOyImc3fDRtX9SvGpkINs",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Pengajuan ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        }
    },
    "definitions": {
        "models.Admin": {
            "type": "object",
            "properties": {
                "createdAt": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "updatedAt": {
                    "type": "string"
                }
            }
        },
        "models.AdminCreateRequest": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                }
            }
        },
        "models.AdminDataResponse": {
            "type": "object",
            "properties": {
                "createdAt": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "updatedAt": {
                    "type": "string"
                }
            }
        },
        "models.AdminLoginRequest": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                }
            }
        },
        "models.AdminUpdateRequest": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                }
            }
        },
        "models.Dosen": {
            "type": "object",
            "properties": {
                "createdAt": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "image": {
                    "type": "string"
                },
                "jabatan": {
                    "type": "string"
                },
                "kapasitas": {
                    "type": "integer"
                },
                "kepakaran": {
                    "type": "string"
                },
                "mahasiswa_bimbingan_id": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "name": {
                    "type": "string"
                },
                "nidn": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "prodi": {
                    "type": "string"
                },
                "updatedAt": {
                    "type": "string"
                }
            }
        },
        "models.DosenCreateRequest": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string"
                },
                "jabatan": {
                    "type": "string"
                },
                "kapasitas": {
                    "type": "integer"
                },
                "kepakaran": {
                    "type": "string"
                },
                "mahasiswa_bimbingan_id": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "name": {
                    "type": "string"
                },
                "nidn": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "prodi": {
                    "type": "string"
                }
            }
        },
        "models.DosenDataResponse": {
            "type": "object",
            "properties": {
                "createdAt": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "image": {
                    "type": "string"
                },
                "jabatan": {
                    "type": "string"
                },
                "kapasitas": {
                    "type": "integer"
                },
                "kepakaran": {
                    "type": "string"
                },
                "mahasiswa_bimbingan_id": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "name": {
                    "type": "string"
                },
                "nidn": {
                    "type": "string"
                },
                "prodi": {
                    "type": "string"
                },
                "updatedAt": {
                    "type": "string"
                }
            }
        },
        "models.DosenLoginRequest": {
            "type": "object",
            "properties": {
                "nidn": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                }
            }
        },
        "models.DosenMahasiswaBimbinganResponse": {
            "type": "object",
            "properties": {
                "mahasiswa_list": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.MahasiswaDataResponse"
                    }
                }
            }
        },
        "models.DosenUpdateRequest": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string"
                },
                "jabatan": {
                    "type": "string"
                },
                "kapasitas": {
                    "type": "integer"
                },
                "kepakaran": {
                    "type": "string"
                },
                "mahasiswa_bimbingan_id": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "name": {
                    "type": "string"
                },
                "nidn": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "prodi": {
                    "type": "string"
                }
            }
        },
        "models.Mahasiswa": {
            "type": "object",
            "properties": {
                "angkatan": {
                    "type": "integer"
                },
                "createdAt": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "image": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "nim": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "prodi": {
                    "type": "string"
                },
                "sks": {
                    "type": "integer"
                },
                "updatedAt": {
                    "type": "string"
                }
            }
        },
        "models.MahasiswaCreateRequest": {
            "type": "object",
            "properties": {
                "angkatan": {
                    "type": "integer"
                },
                "email": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "nim": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "prodi": {
                    "type": "string"
                },
                "sks": {
                    "type": "integer"
                }
            }
        },
        "models.MahasiswaDataResponse": {
            "type": "object",
            "properties": {
                "angkatan": {
                    "type": "integer"
                },
                "createdAt": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "image": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "nim": {
                    "type": "string"
                },
                "prodi": {
                    "type": "string"
                },
                "sks": {
                    "type": "integer"
                },
                "updatedAt": {
                    "type": "string"
                }
            }
        },
        "models.MahasiswaLoginRequest": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                }
            }
        },
        "models.MahasiswaUpdateRequest": {
            "type": "object",
            "properties": {
                "angkatan": {
                    "type": "integer"
                },
                "email": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "nim": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "prodi": {
                    "type": "string"
                },
                "sks": {
                    "type": "integer"
                }
            }
        },
        "models.MobileNotification": {
            "type": "object",
            "properties": {
                "createdAt": {
                    "type": "string"
                },
                "data_pengajuan": {
                    "$ref": "#/definitions/models.Pengajuan"
                },
                "data_pengajuan_id": {
                    "type": "integer"
                },
                "id": {
                    "type": "integer"
                },
                "message": {
                    "type": "string"
                },
                "user_id": {
                    "type": "integer"
                }
            }
        },
        "models.MobileNotificationCreateRequest": {
            "type": "object",
            "properties": {
                "data_pengajuan_id": {
                    "type": "integer"
                },
                "id": {
                    "type": "integer"
                },
                "message": {
                    "type": "string"
                },
                "status_pengajuan": {
                    "type": "string"
                },
                "user_id": {
                    "type": "integer"
                }
            }
        },
        "models.Pengajuan": {
            "type": "object",
            "properties": {
                "abstrak": {
                    "type": "string"
                },
                "createdAt": {
                    "type": "string"
                },
                "dospem1": {
                    "$ref": "#/definitions/models.Dosen"
                },
                "dospem1_id": {
                    "type": "integer"
                },
                "dospem2": {
                    "$ref": "#/definitions/models.Dosen"
                },
                "dospem2_id": {
                    "type": "integer"
                },
                "id": {
                    "type": "integer"
                },
                "judul": {
                    "type": "string"
                },
                "mahasiswa": {
                    "$ref": "#/definitions/models.Mahasiswa"
                },
                "mahasiswa_id": {
                    "type": "integer"
                },
                "peminatan": {
                    "type": "string"
                },
                "rejected_note": {
                    "type": "string"
                },
                "status_acc": {
                    "type": "string"
                },
                "status_acc_kaprodi": {
                    "type": "string"
                },
                "tempat_penelitian": {
                    "type": "string"
                },
                "updatedAt": {
                    "type": "string"
                }
            }
        },
        "models.PengajuanCreateRequest": {
            "type": "object",
            "properties": {
                "abstrak": {
                    "type": "string"
                },
                "dospem1_id": {
                    "type": "integer"
                },
                "dospem2_id": {
                    "type": "integer"
                },
                "id": {
                    "type": "integer"
                },
                "judul": {
                    "type": "string"
                },
                "mahasiswa_id": {
                    "type": "integer"
                },
                "peminatan": {
                    "type": "string"
                },
                "rejected_note": {
                    "type": "string"
                },
                "tempat_penelitian": {
                    "type": "string"
                }
            }
        },
        "models.PengajuanUpdateRequest": {
            "type": "object",
            "properties": {
                "abstrak": {
                    "type": "string"
                },
                "dospem1_id": {
                    "type": "integer"
                },
                "dospem2_id": {
                    "type": "integer"
                },
                "judul": {
                    "type": "string"
                },
                "mahasiswa_id": {
                    "type": "integer"
                },
                "peminatan": {
                    "type": "string"
                },
                "rejected_note": {
                    "type": "string"
                },
                "status_acc": {
                    "type": "string"
                },
                "status_acc_kaprodi": {
                    "type": "string"
                },
                "tempat_penelitian": {
                    "type": "string"
                }
            }
        },
        "models.SimilarityRequest": {
            "type": "object",
            "properties": {
                "judul": {
                    "type": "string"
                }
            }
        }
    }
}